button {
  font-size: 14px;
}

.DemoTitle {
  font-size: 24px;
  color: #333;
}

.App {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Note Title.js */

.noteTitle input {
  margin-top: 5px;
  width: 80%;
}

.noteTitle label {
  font-size: 12px;
}

.noteTitle .noteTitleInput {
  width: 50%;
  float: left;
  display: flex;
}

.noteTitle .noteTitleBtnGroup {
  /* display: flex;
  justify-content: space-around;
  margin-top: 5px;
  width: 80%; */
}

.noteTitle .noteTitleBtnGroup button {
  padding: 5px;
}

.noteTitle .noteTitleBtnGroup button {
  border: none;
  border-radius: 5px;
  margin: 1px;
  /* max-width: 30%; */
  color: white;
}

.noteTitle .noteTitleBtnGroup button:first-child {
  background-color: #39acdc;
}

.noteTitle .noteTitleBtnGroup button:last-child {
  background-color: #ec3646;
}

/* Create Note.js */

.createNoteForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.createNoteForm::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 18px;
}

.createNoteForm * {
  margin: 5px;
  padding: 5px;
}

.createNoteForm button {
  background-color: #57b93e;
  border: none;
  border-radius: 5px;
  width: 20%;
  color: white;
}

.createNoteForm .noteTitleInput {
  /* width: 50%;
  float: left; */
}

/* View Notes.js */

.noteslist .noteslist {
  padding: 15px;
}

.noteslist .noteItem {
  display: flex;
  flex-direction: column;
}

.noteslist .noteItem * {
  margin: 5px;
  padding: 5px;
}

.noteslist .noteItem button {
  background-color: #ec3646;
  border: none;
  border-radius: 5px;
  width: 20%;
  color: white;
  /* display: block; */
}

/* responsive */

@media only screen and (min-width: 720px) {
  .noteTitle {
    display: block;
  }

  .noteTitle .noteTitleBtnGroup {
    float: right;
    margin: 5px;
    padding: 5px;
  }

  .noteTitle .noteTitleBtnGroup button {
    width: inherit;
  }

  .createNoteForm input[type="text"] {
    width: 355px;
  }

  .createNoteForm textarea {
    width: 355px;
  }

  .noteslist input[type="text"] {
    width: 355px;
  }

  .noteslist textarea {
    width: 355px;
  }

  .noteslist .noteItem {
    /* display: block; */
    /* flex-direction: column; */
  }

  .noteslist .noteItem button {
    float: right;
  }
}

/* Color Legend:
- Blue: #39ACDC
- Red: #EC3646
- Green: #57B93E
- Text and Input Color: #333
- Placeholder Color: #AAA
- Border Color: #CCC
Fonts:
- Family: Arial
- Main title: 24px
- Input Label: 12px
- "My Notes" header: 18px
• All buttons: 14px
Page is responsive:
- Max size is 1024 pixels
- Minimum size is 320 pixels width
- Text sizes don't need to scale
- Buttons will drop below the input groups */
